<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ details.name }}</title>
	<style>
	@page {
		size: letter;
		margin: .75in;
	}
	.skills > li li {
		display: inline;
	}
	.skills > li li:after {
		content: ", ";
	}
	.skills >li li:last-child:after {
		content: "";
	}
	hr {
		content: " ";
		display: block;
		width: 100%;
		height: 0px;
		border-top: 1px solid black;
		border-bottom: 0px;
	}
	body {
		font: 12pt "Linux Libertine O", "Times", "Times New Roman", serif;
	}
	header {
		text-align: center;
	}
	h1 {
		font-size: 120%;
		margin: 0px;
	}
	h2 {
		font-size: 110%;
	}
	h3 {
		margin: 0px;
		font-size: 100%;
	}
	.work h3, .education h3 {
		display: inline;
	}
	.date-range, .position {
		float: right;
	}
	.summary {
		margin: 0px;
		text-indent: 4ch;
	}
	main > ul {
		padding-left: 0px;
	}
	main > ul > li + li {
		margin-top: .5em;
	}
	.contacts li {
		display: inline;
	}
	.contacts li + li {
		margin-left: 2ch;
	}
	</style>
</head>
<body>
<header>
	<h1>{{ details.name }}</h1>
	<hr>
	<ul class="contacts">
		<li>{{ details.email }}</li>
		<li>{{ details.phone }}</li>
		<li>
			{{ details.address.street }}
			{{ details.address.city }}, 
			{{ details.address.state }} 
			{{ details.address.postalCode }}
		</li>
	</ul>
	<hr>
</header>
<main>
	<h2>Work Experience</h2>
	<ul class="work">
		{% for e in work %}
		<li>
			<h3>{{ e.institution }}</h3>
			<span class="date-range">{{ e.dateRange }}</span><br>
			<span class="location">{{ e.location }}</span>
			<span class="position">{{ e.position }}</span>
			<p class="summary">{{ e.summary }}</p>
		</li>
		{% endfor %}
	</ul>

	<h2>Education</h2>
	<ul class="education">
		{% for e in education %}
		<li>
			<h3>{{ e.institution }}</h3>
			<span class="date-range">{{ e.dateRange }}</span><br>
			<span class="location">{{ e.location }}</span>
			<span class="position">{{ e.position }}</span>
			<p class="summary">{{ e.summary }}</p>
		</li>
		{% endfor %}
	</ul>

	<h2>Skills</h2>
	<ul class="skills">
		<li>
			<h3>Technologies</h3>
			<ul>
				{% for e in skills.technologies %}
				<li>{{ e.name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h3>Languages</h3>
			<ul>
				{% for e in skills.languages %}
				<li>{{ e.name }} ({{ e.level }})</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h3>Other</h3>
			<ul>
				{% for e in skills.other %}
				<li>{{ e.name }}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</main>
</body>
</html>
