<!DOCTYPE html>
<!-- CC0 - No Rights Reserved. Use the source, Luke. Let go! -->
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Luna McNulty">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link media="screen" rel="stylesheet" 
	      type="text/css" href="screen.css" title="default">
	<link media="screen" rel="alternate stylesheet" 
	      href="print.css" title="print">
	<link media="print" rel="stylesheet" href="print.css">
	<link rel="icon" href="img/moon.png" type="image/x-icon"/>
	<title>{{ details.name }}</title>
	<style>
	header {
		margin-bottom: .5em !important;
	}
	</style>
</head>
<body lang="en-us">
	<header>
		<img src="img/moon.png" width="200" id="logo" alt="Moon Logo"/>
		<h1 id="name">{{ details.name }}</h1>
		<p class="tagline">
		{{ details.label }}
		</p>
		<div class="contacts">
			<noscript class="noprint">
			<p>Sorry! As a spam-prevention measure, you must enable scripts and
			click below to see my contact information.</p>
			</noscript>
			<div id="home-address" class="address">
				<a href="">Click to Reveal</a>
			</div>
			<!-- We want these to display in one column in print -->
			<div class="contacts-group"> 
				<div class="email">
					<a href="" id="email-link">Click to Reveal</a>
				</div>
				<div class="phone">
					<a href="" id="phone-number">Click to Reveal</a>
				</div>
			</div>
			<div class="repos">
				{% for e in links %}
					{% if e.type == "code-repo" %}
					<span class="git-host">
						<a href="{{ e.url }}">{{ e.service }}</a>,
					</span>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</header>
	<main>
		<section class="education">
			<h2>Education</h2>
			{% for e in education %}
			<section class="{{ e.id }}">
			<h3>{{ e.institution }}</h3>
			{% if 'image' in e %}
			<img src="{{ e.image.url }}" width="50" alt="{{ e.image.alt }}" style="float: right"/>
			{% endif %}
			<span class="location">{{ e.location }}</span>
			<span class="date">{{ e.dateRange }}</span>
			<p class="summary">{{ e.summary }}</p>
			</span>
			</section>
			{% endfor %}
		</section>
		<section class="skills">
			<h2>Skills</h2>
			<section class="programming-languages">
				<h3>Technologies</h3>
				<ul>
					{% for e in skills.technologies %}
					<li class="unix">
						{% if 'image' in e %}
						<img src="{{ e.image.url }}"/>
						{% endif %}
						<strong>{{ e.name }}</strong>
					</li>
					{% endfor %}
				</ul>
			</section>
			<section class="natural-languages">
				<h3>Natural Languages</h3>
				<ul>
					{% for e in skills.languages %}
					<li class="english">
						{% if 'image' in e %}
						<img src="{{ e.image.url }}"/>
						{% endif %}
						<strong>{{ e.name }}</strong>
						<span class="level">{{ e.level }}</span>
					</li>
					{% endfor %}
				</ul>
			</section>
			<section class="other">
				<h3>Other Strengths</h3>
				<ul>
					{% for e in skills.other %}
					<li>
						<strong>{{ e.name }}</strong>
					</li>
					{% endfor %}
				</ul>

			</section>
		</section>
		<section class="experience">
			<h2>Work Experience</h2>

			{% for e in work %}
			<section class="{{ e.id }}">
				<h3>{{ e.institution }}</h3>
				{% if 'image' in e %}
				<img src="{{ e.image.url }}" 
				     width="{% if 'width' in e.image %}{{ e.image.width }}{% else %}50{% endif %}"
					 alt="{{ e.image.alt }}" style="{% if 'style' in e.image %}{{ e.image.style }}{% else %}float: right{% endif %}"/>
				{% endif %}
				<div class="location">{{ e.location }}</div>
				<div class="date">{{ e.dateRange }}</div>
				<div class="title">{{ e.position }}</div>
				<p class="summary">{{ e.summary }}</p>
			</section>
			{% endfor %}
		</section>
	</main>
	<script>
	
	// Pre-print Javascript
	function onPrint(callback) {
		window.matchMedia('print').addListener(
			query => query.matches ? callback() : null
		)
		window.addEventListener('beforeprint', () => callback())
	}
	onPrint(() => {
		for (let child of document.querySelector(".repos")
		.getElementsByTagName("a")) {
			child.oldInnerHTML = child.innerHTML;
			child.innerHTML = child.href.replace("https://", "");
		}
		setTimeout(() => {
			for (let child of document.querySelector(".repos")
			.getElementsByTagName("a")) {
				child.innerHTML = child.oldInnerHTML;
			}
		}, 1);
	});

	// Humanity Check
	let emailLink = document.getElementById("email-link");
	let homeAddress = document.getElementById("home-address");
	let phoneNumber = document.getElementById("phone-number");
	let obfHome = "{{ details.obfuscatedAddress }}";
	let obfEmail = "{{ details.obfuscatedEmail }}";
	let obfPhone = "{{ details.obfuscatedPhone }}";
	let checkedHumanity = false;
	function humanityCheck(evt) {
		if (evt != null) { evt.preventDefault(); }
		let solution = prompt("Humanity Check: What comes between 1 and 3?");
		try {
			let emailAddr = atob(obfEmail.replace("_" + solution, ""));
			let phoneNum = atob(obfPhone.replace("_" + solution, ""));
			homeAddress.innerHTML = atob(obfHome.replace("_" + solution, ""))

			phoneNumber.href= "tel:" + phoneNum;
			emailLink.href = "mailto:" + emailAddr;
			
			emailLink.innerHTML = emailAddr;
			phoneNumber.innerHTML = phoneNum;
			
			emailLink.removeEventListener('click', humanityCheck);
			homeAddress.removeEventListener('click', humanityCheck);
			phoneNumber.removeEventListener('click', humanityCheck);
			
			checkedHumanity = true;
		} catch (e) {
			window.alert("Sorry, we couldn't confirm your humanity. Note " 
			+ "that the answer should be given as a number, not spelled out.");
		}
	}
	emailLink.addEventListener('click', humanityCheck, false);
	homeAddress.addEventListener('click', humanityCheck, false);
	phoneNumber.addEventListener('click', humanityCheck, false);
	</script>
	<script>
	// This is purely for counting page-views to measure interest in my 
    // work. It does not attempt to track or identify you in any way. 
	// For details, see https://www.goatcounter.com/privacy
	//
	// To opt out, you can use this ublock filter:
	//     lmcnulty.gitlab.io##script:contains(goatcounter.com)
	(function() {
		window.counter = 'https://lmcnulty_gitlab_io.goatcounter.com/count'

		var script = document.createElement('script');
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';
		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
	</script>
</body>
</html>

