/* CC0 - No Rights Reserved. Use the source, Luke. Let go! */

@page {
  size: Letter; 
  margin: 1in; 
  margin-top: .75in;
  margin-bottom: .75in;
}

/* Defaults */
body {
	font-family: "Times New Roman", "FreeSerif", serif;
	font-size: 12pt;
	line-height: 1.2;
}
a {
	color: inherit;
	text-decoration: none;
}
.noprint, img {
	display: none;
}
p {
	margin-top: .25em;
	margin-bottom: .5em;
	hyphens: auto;
	text-align: justify;
}
p + p {
	margin-top: -.5em;
}
main p {
	text-indent: 2ch;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0px;
}
h1 {
	font-size: 140%;
	margin: 0px;
	text-align: center;
	font-weight: normal;
}
h2 {
	font-size: 140%;
	margin-bottom: .5em;
	margin-top: 1em;
	clear: both;
	font-weight: normal;
}
h3 {
	font-size: 100%;
	display: inline;
}


/* Tagline */
.tagline {
	margin: 0px;
	float: left;
	width: calc(50% - 1px);
	display: none;
}
.tagline, .address, .repos, .email, .phone {
	margin: 0px;
	text-align: center;
}

.contacts {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	border-top: 1pt solid black;
	border-bottom: 1pt solid black;
	padding-top: 3px;
	padding-bottom: 3px;
}
.address, .repos, .contacts-group {
	display: block;
	width: 33%;
}
.git-host {
	display: block;
}
#contacts {
	margin: auto;
}


/* Columns */
.skills > section {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0px;
	padding-right: 30px;
	margin: 0px;
}
.natural-languages {
	width: 35%;
}
.other {
	width: 30%;
	padding-right: 0px;
}
.programming-languages {
	width: 33%;
}


/* Decoration */
.title {
	float: right;
	display: inline;
	font-weight: bold;
}
.level {
	float: right;
}
.date:before {
	content: "(";
}
.date {
	display: inline;
}
.date:after {
	content: ")";
}
.location {
	display: inline;
}
.skills ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.skills strong {
	font-weight: normal;
}
.programming-languages ul {
	columns: 2;
}
.experience section, .education section {
	margin-bottom: 1em;
}
.portfolio {
	margin-left: 2ch;
	display: block;
	font-style: italic;
}
.education .date {
	float: right;
}



