/*     CC0 - No Rights Reserved. Use the source, Luke. Let go!      */


/*********************************************************************
 *                             Defaults                              *
 *********************************************************************/
html, body {
	height: 100%;
	position: relative;
	margin: 0px;
	font-family: "Noto Sans", "Helvetica", arial, sans-serif;
	background-color: #D6D6D6;
	font-size: 12pt;
}
h1 {
	margin-top: 0px;
	text-align: center;
}
h1, h2 {
	font-family: alice;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
h1:first-child, h2:first-child, h3:first-child, 
h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0px;
}
img {
	max-width: 100%;
}
p, li {
	line-height: 1.4;
}

/* Webfonts */
@font-face {
    font-family: 'alice';
    src: url('alice-regular-webfont.woff2') format('woff2'),
         url('alice-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*********************************************************************
 *                         Header (Sidebar)                          *
 *********************************************************************/
header {
	height: 100%;
	height: calc(100% - 40px);
	width: 250px;
	background: whitesmoke;
	padding: 20px;
	position: fixed;
	background-color: #27212b;
	color: white;
	overflow: auto;
}
header .icon {
	float: left;
	width: 30px;
	vertical-align: center;
}
header .icon + * {
	text-align: center;
}
header a {
	color: white;
}
#logo {
	display: block;
	margin: auto;
}


/* Contacts */
.email, #home-address, .phone {
	min-height: 30px;
	margin-bottom: 10px;
	line-height: 1.4;
}
#home-address::before, .email::before, .repos::before, .phone::before {
	background-size: contain;
	width: 30px;
	height: 24px;
	content: " ";
	margin-right: 10px;
	display: block;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
}
#home-address::before {
	background-image: url(img/home.png);
	background-image: url(img/home.svg), none;
}
.email::before {
	background-image: url(img/mail.png);
	background-image: url(img/mail.svg), none;
}
.phone::before {
	background-image: url(img/phone.png);
}
.repos::before {
	content: "{}";
	font-size: 18pt;
	line-height: 24px;
	text-align: center;
}


/*********************************************************************
 *                               Main                                *
 *********************************************************************/
main {
	position: absolute;
	left: 290px;
	padding: 20px 5px 20px 5px;
	background-color: #D6D6D6;
}
main > section > h2 {
	text-align: center;
}

@media (min-width: 1000px) {	
	main > section {
		width: calc((100% / 3) - 3px);
		display: inline-block;
		vertical-align: top;
	}
	main > section::before {
		content: " ";
		display: inline-block;
		width: 1px;
		height: 50px;
		background: #C3C3C3;
		vertical-align: top;
		position: fixed;
		top: 0px;
		height: 100vh;
		margin-left: -2px;
	}

	main > section:first-child:before {
		display: none;
	}
}


/* Card Layout */
main section > section {
	background-color: white;	
	margin: 0px 10px 20px 10px;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .3);
	overflow: auto;
	min-height: 175px;
}
.location, .date {
	font-size: 75%;
	display: inline;
}

.education h3, .experience h3 {
	margin-bottom: 0px;
}
.location {
	font-weight: bold;
}
.title {
	font-size: 100%;
	margin-top: 2px;
	display: block;
}
.natural-languages ul, .programming-languages ul {
	list-style: none;
	padding-left: 0px;
}
.skills > section > ul img {
	display: inline;
	vertical-align: middle;
}
.programming-languages img {
	margin: 2px 2px 2px 0px;
}
.programming-languages li {
	display: block;
	float: left;
	padding: 3px 5px 3px 3px;
	border-radius: 5px;
	margin: 5px 5px 0px 0px;
	background-color: #505050;
	background: linear-gradient(#6D6D6D, #505050)
}
.skills > section .level {
	float: right;
}
#brown-coa {
	float: left;
	padding-right: 10px;
}
.wilson-logo {
	float: left;
	padding-right: 10px;
}
.pantheon {
	float: right;
}
#bcap-logo {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}


/* Card Decorations */
.brown {
	background-color: #704B3B;
	color: white;
}
.sorbonne {
	background-color: #00326E;
	color: white;
}
.natural-languages {
	background-image: url("img/earth.jpg");
	background-color: #B1BECD;
	background-size: cover;
	background-position: center;
}
.programming-languages {
	background-color: #111;
	background-image: url("img/terminal.png");
	background-size: cover;
	color: white;
}
.other {
	/*** 
	 * Brushes, by Phil Parker
	 * Creative Commons Attribution 2.0
	 * https://www.flickr.com/photos/45131642@N00/7005996682 
	 */
	background-image: url("img/paint.jpg");
	background-color: #46382C;
	background-size: cover;
	background-position: 0% 33%;
	color: white;
}
.ta-2d {
	background: #222;
	color: white;
}
.cds {
	background-image: url("img/doubletree.jpg");
	background-size: cover;
	background-position: center;
	background-color: #CDE1E5;
}
.cds a {
	color: #2F8A93;
}
.bcap {
	background: #061279;
	color: white;
}
.million-youth-chess {
	/*** 
	 * Photo by Othmar Vigl
	 * Free for commercial use, except direct sale without modifications.
	 * https://www.pexels.com/photo/1666592/
	 */
	background-image: url("img/chess.jpeg");
	background-size: cover;
	background-position: center;
}


/* Responsive Design */
@media (max-width: 700px) {	
	main, header {
		position: relative;
		height: auto;
		left: 0px;
		width: 100%;
		box-sizing: border-box;
	}
}
@media (max-width: 1000px) {	
	.skills > section, .education > section, .experience > section {
		display: block;
		width: 90%;
		width: calc(100% - 40px);
	}
}

