<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ details.name }} — Cover Letter</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
	html, body {
		height: 100%;
	}
	main h2:after {
		display: none;
	}
</style>
</head>
<body lang="en-us" id="cover-letter">
<header>
	<h1>{{ details.name }}</h1>
	<div class="subtitle">{{ details.label }}</div>
</header>

<aside>

<h2>From</h2>
<div class="from">
{{ details.name }}<br>
{{ details.address.street }}<br>
{{ details.address.city }}, 
{{ details.address.state }} 
{{ details.address.postalCode }}
</div>

<h2>To</h2>
<div class="to">
{{ letter.to.name }}<br>
{{ letter.to.address.street }}<br>
{{ letter.to.address.city }}, 
{{ letter.to.address.state }} 
{{ letter.to.address.postalCode }}
</div>
</aside>
<main>

<h2 class="salutation">{{ letter.salutation }}</h2>

{{ letter.content }}

<br><br><br>

<p>Sincerely,</p>

<p><img src="signature.svg" style="height: 3em"></p>

<p>{{ details.name }}</p>
</main>
<div>
</body>
</html>
