<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ details.name }} — Résumé</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>
	main h3 {
		margin-bottom: 0px;
	}
	.summary {
		margin-top: 5px;
	}
	.summary p {
		margin: 0px;
	}
	.summary {
		text-indent: 4ch;
	}
	.date-range {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.position {
		float: right;
	}
	.education ul, .experience ul, .languages ul, .other ul, .technologies ul {
		list-style: none;
	}
	.education ul li:before, .experience ul li:before, .languages ul li:before,
	.technologies ul li:before, .other ul li:before {
		position: absolute;
		top: 0px;
		left: -1em;
		font-family: "Noto Sans Symbols2", "Unifont Upper";
	}
	.education    ul li:before { content: "🕮"; }
	.languages    ul li:before { content: "🌍"; }
	.experience   ul li:before { content: "\1F4BC"; }
	.technologies ul li:before { content: "⚙"; }
	.other        ul li:before { content: "★"; }
	.level {
		float: right;
	}
	aside h2:after {
		display: none;
	}
	</style>
</head>
<body id="resume" lang="en-us">
	<header>
		<h1>{{ details.name }}</h1>
		<div class="subtitle">{{ details.label }}</div>
	</header>
	<aside>
		<h2>Contacts</h2>
		<section class="contacts">
			<p>
			<a href="mailto:{{ details.email }}">{{ details.email }}</a><br>
			{{ details.phone }}
			</p>
			<p>
			{{ details.address.street }}<br>
			{{ details.address.city }}, 
			{{ details.address.state }} 
			{{ details.address.postalCode }}
			</p>

			<dl>
			{% for e in links %}
			<dt>{{ e.label }}</dt>
			<dd><a href="{{ e.url }}">{{ e.display }}</a></dd>
			{% endfor %}
			</dl>
		</section>
		<section class="skills">
			<section class="technologies">
			<h2>Technologies</h2>
			<ul>
			{% for e in skills.technologies %}
			<li>{{ e.name }}</li>
			{% endfor %}
			</ul>
			</section>

			<section class="languages">
			<h2>Languages</h2>
			<ul>
			{% for e in skills.languages%}
			<li>{{ e.name }} <span class="level">{{ e.level }}</span></li>
			{% endfor %}
			</ul>
			</section>

			<section class="other">
			<h2>Other Skills</h2>
			<ul>
			{% for e in skills.other %}
			<li>{{ e.name }}</li>
			{% endfor %}
			</ul>
			</section>
		</section>
	</aside>
	<main>
		<h2>Education</h2>
		<section class="education">
			<ul>
			{% for e in education %}
			<li>
				<h3>{{ e.institution }}</h3>
				<span class="location">{{ e.location }}</span>
				<span class="date-range">{{ e.dateRange }}</span><br>
				<div class="summary">{{ e.summary }}</div>
			</li>
			{% endfor %}
			</ul>
		</section>
		<section class="experience">
			<h2>Work Experience</h2>
			<ul>
			{% for e in work %}
			<li>
				<h3>{{ e.institution }}</h3>
				<span class="date-range">{{ e.dateRange }}</span>
				<span class="location">{{ e.location }}</span>
				<span class="position">{{ e.position }}</span>
				<br>
				<div class="summary">{{ e.summary }}</div>
			</li>
			{% endfor %}
			</ul>
		</section>
	</main>
</body>
</html>
