body {
	font-size: 12pt;
	font-family: "Linux Libertine O";
	position: relative;
	line-height: 1.3;
}
main h2 + p, main h3 + p {
	text-indent: 0ch;
}
main p {
	hyphens: auto;
	text-align: justify;
	text-indent: 4ch;
}
a {
	color: black;
	text-decoration-style: dotted;
}
h1 {
	font-size: 150%;
	margin: 0px;
	font-family: alice;
	font-weight: normal;
}
h2 {
	font-size: 115%;
	position: relative;
}
h3 {
	font-size: 100%;
}
h2:after {
	content: " ";
	display: block;
	width: 100%;
	height: 0px;
	border-top: 1px solid black;
	border-bottom: 0px;
	position: absolute;
}
main {
	position: absolute;
}
main > *:first-child, aside > *:first-child {
	margin-top: 0px;
}
ul {
	padding-left: 1em;
}
li {
	padding-left: .5em;
	position: relative;
}
header {
	text-align: center;
	margin-bottom: 1em;
}
aside {
	position: absolute;
	width: 2in;
}

#resume main        { left: 2.25in; }
#cover-letter main  { right: 2.25in; }
#resume aside       { left: 0px; }
#cover-letter aside { right: 0px; }


@page {
	size: Letter;
	margin: .5in;
}
@media screen {
	body {
		width: 7.3in;
		margin: .5in auto .5in auto;
	}
}
